<form>
  <div class="form-group">
    <label for="inputGoal">Add A Goal To Your Day</label>
    <input type="text" class="form-control" id="inputGoal" placeholder="Goal for the Day">
  </div>
  <div class="form-group">
    <label for="inputTimeOfDay">Enter the Time</label>
    <input type="password" class="form-control" id="inputTimeOfDay" placeholder="When will you complete this task?">
  </div>
  <button type="submit" class="btn btn-default">Add Task</button>
</form>
