<!DOCTYPE html>
<html lang="en">
<head>
	<!-- <title>Bootstrap Example</title> -->
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.0/jquery.min.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<body>
<table class="table">
  <thead>
    <tr>
      <th>#</th>
      <th>First Name</th>
      <th>Last Name</th>
      <th>Username</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th scope="row">1</th>
      <td>Mark</td>
      <td>Otto</td>
      <td>@mdo</td>
    </tr>
    <tr>
      <th scope="row">2</th>
      <td>Jacob</td>
      <td>Thornton</td>
      <td>@fat</td>
    </tr>
    <tr>
      <th scope="row">3</th>
      <td>Larry</td>
      <td>the Bird</td>
      <td>@twitter</td>
    </tr>
  </tbody>
</table>
	
	<!-- make this a table instead -->
	
	<div class="container-fluid">
		<!-- left hand side (agenda) -->
		<div class="container col-md-6">
			<!-- create headings using <small> -->
			<h5><small><strong>Date:</strong></small><small> Monday May 1st 2017</small></h5>
			<div class="row">
				<div class="col-md-1"><h6><small>6am</small></h6></div>
				<div class="col-md-11">my plans for this hour.....my plans for this hour.....for this hour</div>
			</div>
			<div class="row">
				<div class="col-md-1"><h6><small>7am</small></h6></div>
				<div class="col-md-11">my plans for this hour.....my plans for this hour.....for this hour</div>
			</div>
			<div class="row">
				<div class="col-md-1"><h6><small>8am</small></h6></div>
				<div class="col-md-11">my plans for this hour.....my plans for this hour.....for this hour</div>
			</div>
			<div class="row">
				<div class="col-md-1"><h6><small>9am</small></h6></div>
				<div class="col-md-11">my plans for this hour.....my plans for this hour.....for this hour</div>
			</div>
			<div class="row">
				<div class="col-md-1"><h6><small>10am</small></h6></div>
				<div class="col-md-11">my plans for this hour.....my plans for this hour.....for this hour</div>
			</div>
			<div class="row">
				<div class="col-md-1"><h6><small>11am</small></h6></div>
				<div class="col-md-11">my plans for this hour.....my plans for this hour.....for this hour</div>
			</div>
			<div class="row">
				<div class="col-md-1"><h6><small>12pm</small></h6></div>
				<div class="col-md-11">my plans for this hour.....my plans for this hour.....for this hour</div>
			</div>
			<div class="row">
				<div class="col-md-1"><h6><small>1pm</small></h6></div>
				<div class="col-md-11">my plans for this hour.....my plans for this hour.....for this hour</div>
			</div>
			<div class="row">
				<div class="col-md-1"><h6><small>2pm</small></h6></div>
				<div class="col-md-11">my plans for this hour.....my plans for this hour....for this hour</div>
			</div>
			<div class="row">
				<div class="col-md-1"><h6><small>3pm</small></h6></div>
				<div class="col-md-11">my plans for this hour.....my plans for this hour.....for this hour</div>
			</div>
			<div class="row">
				<div class="col-md-1"><h6><small>4pm</small></h6></div>
				<div class="col-md-11">my plans for this hour.....my plans for this hour.....for this hour</div>
			</div>
			<div class="row">
				<div class="col-md-1"><h6><small>5pm</small></h6></div>
				<div class="col-md-11">my plans for this hour.....my plans for this hour.....for this hour</div>
			</div>
			<div class="row">
				<div class="col-md-1"><h6><small>6pm</small></h6></div>
				<div class="col-md-11">my plans for this hour.....my plans for this hour.....for this hour</div>
			</div>
			<div class="row">
				<div class="col-md-1"><h6><small>7pm</small></h6></div>
				<div class="col-md-11">my plans for this hour.....my plans for this hour.....for this hour</div>
			</div>
			<div class="row">
				<div class="col-md-1"><h6><small>8pm</small></h6></div>
				<div class="col-md-11">my plans for this hour.....my plans for this hour.....for this hour</div>
			</div>
			<div class="row">
				<div class="col-md-1"><h6><small>9pm</small></h6></div>
				<div class="col-md-11">my plans for this hour.....my plans for this hour..... for this hour</div>
			</div>
			<!-- On rows -->

			<!-- ADD AN ERB FILE TO ALLOW USERS TO ADD A TASK TO THEIR AGENDA -->
			<!-- erb :'users/_form_to_update_agenda', layout: false  -->
		</div>
		<!-- right hand side content -->
			
			<!-- Target Goals box -->
		<div class="container col-md-6">
			<h1><small>Target Goals</small></h1>
			<div class="row">
				<div class="col-md-1">1.</div>
				<div class="col-md-11">Todays target Goals Todays target Goals, Goals, Goals, Goals, Goals </div>
			</div>
			<div class="row">
				<div class="col-md-1"><h6><small>2.</small></h6></div>
				<div class="col-md-11">Todays target Goals Todays target Goals, Goals, Goals, Goals, Goals </div>
			</div>
			<div class="row">
				<div class="col-md-1"><h6><small>3.</small></h6></div>
				<div class="col-md-11">Todays target Goals Todays target Goals, Goals, Goals, Goals, Goals </div>
			</div>
		</div>
			<!-- Morning Graditude Box -->
		<div class="container col-md-6">
			<h1><small>Morning Graditude</small></h1>
			<div class="row">
				<div class="col-md-1"><h6><small>1.</small></h6></div>
				<div class="col-md-11">I'm grateful for... everything! I'm grateful for... everything! everything!</div>
			</div>
			<div class="row">
				<div class="col-md-1"><h6><small>2.</small></h6></div>
				<div class="col-md-11">I'm grateful for... everything! I'm grateful for... everything! everything!</div>
			</div>
			<div class="row">
				<div class="col-md-1"><h6><small>3.</small></h6></div>
				<div class="col-md-11">I'm grateful for... everything! I'm grateful for... everything! everything!</div>
			</div>
		</div>
			<!-- Evening Graditude box -->
		<div class="container col-md-6">
			<h1><small>Evening Graditude</small></h1>
			<div class="row">
				<div class="col-md-1"><h6><small>1.</small></h6></div>
				<div class="col-md-11">I'm grateful for... everything! I'm grateful for... everything! everything!</div>
			</div>
			<div class="row">
				<div class="col-md-1"><h6><small>2.</small></h6></div>
				<div class="col-md-11">I'm grateful for... everything! I'm grateful for... everything! everything!</div>
			</div>
			<div class="row">
				<div class="col-md-1"><h6><small>3.</small></h6></div>
				<div class="col-md-11">I'm grateful for... everything! I'm grateful for... everything! everything!</div>
			</div>
		</div>
		<!-- footer -->
		<div class="container col-md-12">
			<h1><small>Wins For the Day</small></h1>
				<p>
					I won the day! I won the day!
					I won the day! I won the day!
					I won the day! I won the day!
					I won the day! I won the day!
					I won the day! I won the day!
					I won the day! I won the day!
					I won the day! I won the day!
					I won the day! I won the day!
					I won the day! I won the day!
					I won the day! I won the day!
					I won the day! I won the day!
					I won the day! I won the day!
					I won the day! I won the day!
					I won the day! I won the day!
					I won the day! I won the day!
					I won the day! I won the day!
					I won the day! I won the day!
					I won the day! I won the day!
				</p>
		</div>
	</div>
</body>
</html>