<h1>Your 13 Week Roadmap</h1>
<h2>Result Goal</h2>
<br>
	<form class="input-group-btn" action="#" method="post">
	  <input type="text" class="form-control mb-2 mr-sm-2 mb-sm-0" id="inlineFormInput" placeholder="Result Goal # 1- Hit 200k in revenue with the new product">
	  <input type="text" class="form-control mb-2 mr-sm-2 mb-sm-0" id="inlineFormInput" placeholder="Result Goal # 2- Lose 100 pounds">
	  <input type="text" class="form-control mb-2 mr-sm-2 mb-sm-0" id="inlineFormInput" placeholder="Result Goal # 3- Start my blog">
	  <button type="submit" class="btn btn-primary">Submit</button>
	</form>
<br>
<h2>Progress Goals</h2><br>
	<form class="form-inline" action="#" method="post">
	  Based on Result Goal # 1 :
	  <input type="text" class="form-control mb-2 mr-sm-2 mb-sm-0" id="inlineFormInput" placeholder="Improve sales by 15%">
	  <input type="text" class="form-control mb-2 mr-sm-2 mb-sm-0" id="inlineFormInput" placeholder="Improve website traffic by 20%">
	  <input type="text" class="form-control mb-2 mr-sm-2 mb-sm-0" id="inlineFormInput" placeholder="Increase Email list by 10,000">
	  <button type="submit" class="btn btn-primary">Submit</button>
	</form>
		<form class="form-inline" action="#" method="post">
	  Based on Result Goal # 2 :
	  <input type="text" class="form-control mb-2 mr-sm-2 mb-sm-0" id="inlineFormInput">
	  <input type="text" class="form-control mb-2 mr-sm-2 mb-sm-0" id="inlineFormInput">
	  <input type="text" class="form-control mb-2 mr-sm-2 mb-sm-0" id="inlineFormInput"><br><br>
	  <button type="submit" class="btn btn-primary">Submit</button>
	</form>
		<form class="form-inline" action="#" method="post">
	  Based on Result Goal # 3 :
	  <input type="text" class="form-control mb-2 mr-sm-2 mb-sm-0" id="inlineFormInput">
	  <input type="text" class="form-control mb-2 mr-sm-2 mb-sm-0" id="inlineFormInput">
	  <input type="text" class="form-control mb-2 mr-sm-2 mb-sm-0" id="inlineFormInput"><br><br>
	  <button type="submit" class="btn btn-primary">Submit</button>
	</form>
<br>
<h2>Action + Tasks</h2>
<br>
<h4>Based on progress goal #1</h4>
	<form class="input-group-btn" action="#" method="post">
	  <input type="text" class="form-control mb-2 mr-sm-2 mb-sm-0" id="inlineFormInput" placeholder="Send out 15 prospective emails a day">
	  <input type="text" class="form-control mb-2 mr-sm-2 mb-sm-0" id="inlineFormInput" placeholder="Make 10 cold calls per day">
	  <input type="text" class="form-control mb-2 mr-sm-2 mb-sm-0" id="inlineFormInput" placeholder="Hire a sales assistant to set up sales calls">
	  <button type="submit" class="btn btn-primary">Submit</button>
	</form>
<br>
<h4>Based on progress goal #2</h4>
	<form class="input-group-btn" action="#" method="post">
	  <input type="text" class="form-control mb-2 mr-sm-2 mb-sm-0" id="inlineFormInput">
	  <input type="text" class="form-control mb-2 mr-sm-2 mb-sm-0" id="inlineFormInput">
	  <input type="text" class="form-control mb-2 mr-sm-2 mb-sm-0" id="inlineFormInput"><br><br>
	  <button type="submit" class="btn btn-primary">Submit</button>
	</form>
<br>
<h4>Based on progress goal #3</h4>
	<form class="input-group-btn" action="#" method="post">
	  <input type="text" class="form-control mb-2 mr-sm-2 mb-sm-0" id="inlineFormInput">
	  <input type="text" class="form-control mb-2 mr-sm-2 mb-sm-0" id="inlineFormInput">
	  <input type="text" class="form-control mb-2 mr-sm-2 mb-sm-0" id="inlineFormInput"><br><br>
	  <button type="submit" class="btn btn-primary">Submit</button>
	</form>
